/* DHG15 stylezzz */


.exempel-elev { color: black; }
.någonelev---bara { color: green; }

.david-grägg { color: red; }



.Kalevi-Rinne { 
    color:orange;
    font-size: 500px;


.gronroos-otto { color: #340; }


.frans-wrede  { color: #ff6600;
				font-style: arcylic; }



.fredrik-wasstrom span:nth-child(1){color:black;}
.fredrik-wasstrom span:nth-child(2){color:black;}
.fredrik-wasstrom span:nth-child(3){color:black;}
.fredrik-wasstrom span:nth-child(4){color:black;}


.tony-laurla { color: red; }

.christian-haggblom { color: black; }
