/* DHG15 stylezzz */

.exempel-elev { color: aqua; }

.gronroos-otto { color: #534; }

.frans-wrede  { color: #ff6600;
				font-style: italic; }



.fredrik-wasstrom span:nth-child(1){color:red;}
.fredrik-wasstrom span:nth-child(2){color:orange;}
.fredrik-wasstrom span:nth-child(3){color:green;}
.fredrik-wasstrom span:nth-child(4){color:blue;}


.tony-laurla { color: #009; }

.christian-haggblom { color: aqua; }


